!!! 5

%html.no-js{ lang: "en" }
	%head
		%meta{:charset => "utf-8"}
		%meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
		%meta{:name => "viewport", :content => "width=device-width, maximum-scale=1.0"}
		%meta{:name => 'description', :content => 'Who would win the US Presidential Election 2012, if the internet could decide?'}
		%meta{:name => 'keywords', :content => 'election, online, obama, romney, vs., usa, online election, democrat, republican, vote, election 2012'}
		%meta{:name => 'image', :content => 'http://onlineelection2012.com/images/fb.jpg'}
		%meta{:name => 'og:title', :content => 'Online Election 2012'}
		%meta{:name => 'og:type', :content => 'website'}
		%meta{:name => 'og:url', :content => 'http://onlineelection2012.com'}
		%meta{:name => 'og:image', :content => 'http://onlineelection2012.com/images/fb.jpg'}
		%meta{:name => 'og:site_name', :content => 'Online Election 2012'}
		%meta{:name => 'fb:admins', :content => '751137198'}
		%meta{:name => 'og:description', :content => 'Who would win the US Presidential Election 2012, if the internet could decide?'}
		%title Online Election 2012
		%script{:src => "javascripts/modernizr-2.6.1.min.js", :type => "text/javascript"}
		= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Hammersmith+One'
		= stylesheet_link_tag 'main.css'
		= javascript_include_tag 'https://apis.google.com/js/plusone.js'
		= javascript_include_tag '//platform.twitter.com/widgets.js'
		= javascript_include_tag 'modernizr-2.6.1.min.js'
		= javascript_include_tag 'http://code.jquery.com/jquery-1.8.2.min.js'
		= javascript_include_tag 'TweenMax.min.js'
		= javascript_include_tag 'main.js'
		:javascript
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-20490970-7']);
			_gaq.push(['_trackPageview']);

			(function() {
			  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
%body{:class => page_classes}
	= yield

	%footer
		%span.created
			%span
				Created by
				%a{:href => "http://micahnyc.info/"}Micah
				,
				%a{:href => "http://lvl3.se/theo/"} Theo
				&amp;
				%a{:href => "http://managing-excellence.tumblr.com/"} Nina
		%span.share
			.fb-like{"data-font" => "arial", "data-href" => "http://onlineelection2012.com/", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "0"}
			%a.twitter-share-button{"data-count" => "horizontal", "data-url" => "http://onlineelection2012.com/", :href => "https://twitter.com/share"} 	Tweet
			%g:plusone{:href => "http://onlineelection2012.com/", :size => "medium"}